@font-face {
    font-family:todo;
    src: url("/src/fonts/Mogra-Regular.ttf");
}
@font-face {
    font-family:main;
    src: url("/src/fonts/Prompt-Regular.ttf");
}
@font-face {
    font-family: project;
    src: url("/src/fonts/NotoSerif-Regular.ttf");
}
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
   
}

body {
    height: 100vh;
     background-color:thistle;
}

header{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
h1{
    margin-top: 5px;
    font-size: 2.8em;
    color: white;
    font-family: todo;
    letter-spacing: 3px;
}

header img {
    height: 50px;
    width: 50px;
   
}

main{
    border: 2px green solid;
    height: 89%;
    display: flex;
}

.project-container{
    height: 100%;
    width: 100%;
    border-right: 1px black solid;
    display: flex;
    flex-direction: column;
 
   
}

.project-nav{
    height: 35%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}
h2{
    font-family: todo;
    margin-top: 7px;
    letter-spacing: 3px;
}

hr{
    width: 97%;
}

.projects{
    display: flex;
    height: 65%;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.create-project {
    height: 40px;
    width: 97%;
    border-radius: 10px;
    margin-top: 3px;
  background-color: grey;
    border: none;
}
.create-project span{
      font-family: main;
    font-size: 1.7em;
    
}

.create-project:hover,
.create-project:focus {
    transform: translateY(-0.27em);
}
.nav-button {
    width: 100%;
    height: 35px;
    border-radius: 10px;
     background-color:thistle;
    display: flex;
    align-items: center;
    gap: 3px;
    border: none;
	letter-spacing: 1px;
	outline: none;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}



.nav-button:hover,
.nav-button:focus {
  background-color: lightslategray;
}

.nav-button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-button img {
    height: 30px;
    width: 30px;
    align-self: flex-start;
    margin-left: 10px;
}

.nav-button span {
    font-family: project;
     font-size: 1.3em;
     margin-left: 3px;
     font-weight: 530;
     
}

    .title-form-container {
        height: 277px;
        width: 355px;
       border: 1px black solid;
       position: absolute;
       top: 34%;
       left: 41%;
       border-radius: 14px;
       display: flex;
       flex-direction: column;
       gap: 5px;
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }

    .blur {
        filter: blur(5px);
    }

    .exit-button {
        color: red;
        font-family: todo;
        align-self: flex-end;
        font-size: 27px;
        margin-right: 10px;
    }

    .project-title {
        margin-top: 10px;
        font-size: 2.5em;
        align-self: center;
        margin-top: 6px;
    }

    .project-form-input {
        border: 1px black solid;
        height: 30px;
        border-radius: 10px;
        width: 90%;
        align-self: center;
    }

    .save-button {
       background: grey;
        height: 35px;
        border-radius: 4px;
        width: 50%;
        align-self: center;
        font-size: 1.5em;
        font-family: todo;
        text-align: center;
        margin-top: 10px;
        
    }

   

    .right-section {
        display: flex;
        height: 100%;
    }

    .left-side {
        height: 100%;
        width: 22%;
    }

    .right-side {
        width: 85%;
        height: 100%;
        flex-direction: column;
    }

    .todo-container {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-image: url("./images/background.gif");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .todo-header {
        border-bottom: 0.5px white solid;
       
        height: 45px;
        text-align: center;
          font-size: 2em;
        font-family: todo;
        width: 100%;
        color: white;
    }
   
    .project-card {
        display: flex;
        border:2px white solid;
        border-radius: 10px;
        width: 80%;
        height: 40px;
        text-align: center;
        font-size: 1.2em;
        gap: 9px;
        align-items: center;
    }
    .project-card.span {
        font-family: todo;
        
    }

    .add-task {
        font-size: 1.2em;
        width: 5%;
        height: 30px;
        background-color: grey;
        font-family: todo;
    }

    .todo-form-container {
        display: flex;
        flex-direction: column;
        height: 385px;
        width: 355px;
       position: absolute;
       top: 34%;
       left: 41%;
        border-radius: 14px;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        gap: 5px;
        align-items: center;
    }
    .project-card-click {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
    }
    

    .todoform-text{
        text-align: center;
        font-size: 1.6em;
        font-family: project;
    }

    .todo-form-input{
        border-radius: 5px;
        height: 30px;
        width: 80%;
    }

    .todo-date {
        height: 40px;
        width: 30%;
      
    }

    .todo-label-container{
       width: 100%;
       
    }


    .priority-img {
        height: 40px;
    }


    .radio-checkbox {
        background-image: url("../src/images/flag.png");
        height: 40px;
        
    }


   .todo-label-container{
    display: flex;
    justify-content: center;
  
   }

   .priority-high {
    filter: invert(13%) sepia(96%) saturate(6576%) hue-rotate(24deg) brightness(77%) contrast(126%);
    height: 22px;
   }

   .priority-medium {
    filter: invert(79%) sepia(47%) saturate(4997%) hue-rotate(357deg) brightness(101%) contrast(109%);
    height: 22px;
   }

   .priority-low {
    filter: invert(69%) sepia(57%) saturate(687%) hue-rotate(3deg) brightness(107%) contrast(111%);
     height: 22px;
   } 

   .save-todo {
    height: 30px;
    width: 100px;
    border-radius: 15px;
   }

 
   .todo-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 30px;
    width: 100%;

   }

   .task-card {
    display: flex;
    min-width: 605px;
    min-height: 65px;
    border: 2px black solid;
    font-family: todo;
    border-radius: 10px;
    flex-direction: column;
   }

   .card-nav {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
   }
   input[type = "checkbox"]{
      margin-left: 4px;
    height: 19px;
    width: 20px;
    }

   .task-name {
    font-family: todo;
    font-size: 1.1em;
   
    margin-left: 10px;
   }

   .task-date {
    font-family: todo;
    font-size: 1.1em;
    margin-left: 33px;
   }
   .task-description{
    margin-left: 33px;
    font-size: 1em;
   }

   
   .bullet-img {
    width: 2px;
    height: 22px;
   margin-left: 2px;
   }
   .margin-left {
    margin-left: 33px;
   }
  .trash-img {
    width: 20px;
    height: auto;
  }

   .important {
    height: 25px;
    width: 25px;
   }
   .star-img {
     margin-left: 505px;
   }
   .yellow-star {
    filter: invert(80%) sepia(73%) saturate(2027%) hue-rotate(351deg) brightness(104%) contrast(98%);
    margin-bottom: 2px;
     margin-left: auto;
    height: 30px;
    width: 30px;
   }
   .gold-star {
    filter: invert(80%) sepia(73%) saturate(2027%) hue-rotate(351deg) brightness(104%) contrast(98%);
     margin-left: 180px;
     height: 24px;
   }
   .important-container{
    border: 1px white solid;
    min-height: 45px;
    min-width: 250px;
    display: flex;
    align-items: center;
    border-radius: 9px;
    font-family: todo;
    font-size: 1.1em;
   }

   .high {
   border-color: red;
     font-family: todo;

   }
   .medium{
    border-color: yellow;
      font-family: todo;
   }
   .low{
   border-color: green;
    font-family: todo;
   }

  

 