*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    background: black;
    height: 100%;
}

header {
    text-align: center;
    height: 7vh;
    border: 1px red solid;
    width: 100%;
}
h1{
    color: white;
}

main{
    display:flex;
    height: 93vh;
    border: 1px red solid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.projects {
    display: flex;
    flex-direction: column;
    height: 95%;
    border: 1px blue solid;
     width: 25%;
     text-align: center;
     align-items: center;
     gap: 30px;
     
}
h2{
    margin-top: 20px;
    color: white;
    font-size: 2.7em;
}

.lists{
   height: 95%;
    border: 2px green solid;
    width: 70%;
}

.add-project{
    width: 22px;
    height: 22px;
}



.project-container {
    height: 400px;
    width: 400px;
    border: 1px green solid;
    position: absolute;
    top: 30%;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.project-title {
    width: 50%;
}

.save-button{
    height: 30px;
    width: 40px;
}

.project-card {
    height: 50px;
    width: 100px;
    border: 1px green solid;
}